<html>
  <body>
  <div class="topnav">
    <span style="margin-left: 43%;"><img style="height: 150px; " src="https://i.ibb.co/J2KDm5V/1-FFA7562-B951-4350-B887-7-B25-DA32-FFB9.png" alt=""></span>
    

  </div> 
  <br> 
<div>
  <div style="margin-left: 20%">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(0)"><textarea disabled style="resize: none;   background-color: lightgray; " id="0"   cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(1)"><textarea disabled style="resize: none;   background-color: lightgray; " id="1"   cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(2)"><textarea disabled style="resize: none;   background-color: lightgray; " id="2"  cols="3" rows="2"> </textarea></span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(3)"><textarea disabled style="resize: none;   background-color: lightgray; " id="3"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(4)"><textarea disabled style="resize: none;   background-color: white; " id="4"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(5)"><textarea disabled style="resize: none;   background-color: lightgray; " id="5"    cols="3" rows="2"> </textarea></span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(6)"><textarea disabled style="resize: none;   background-color: lightgray; " id="6"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(7)"><textarea disabled style="resize: none;   background-color: lightgray; " id="7"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(8)"><textarea disabled style="resize: none;   background-color: lightgray; " id="8"    cols="3" rows="2"> </textarea></span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<br>
<span (click)="setColour(9)"><textarea disabled style="resize: none;   background-color: lightgray; " id="9"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(10)"><textarea disabled style="resize: none;   background-color: lightgray; " id="10"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(11)"><textarea disabled style="resize: none;   background-color: lightgray; " id="11"    cols="3" rows="2"> </textarea></span>  &nbsp;
<span (click)="setColour(18)"><textarea disabled style="resize: none;   background-color: lightgray; " id="18"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(19)"><textarea disabled style="resize: none;   background-color: lightgray; " id="19"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(20)"><textarea disabled style="resize: none;   background-color: lightgray; " id="20"    cols="3" rows="2"> </textarea></span>  &nbsp; &nbsp;
<span (click)="setColour(27)"><textarea disabled style="resize: none;   background-color: lightgray; " id="27"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(28)"><textarea disabled style="resize: none;   background-color: lightgray; " id="28"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(29)"><textarea disabled style="resize: none;   background-color: lightgray; " id="29"    cols="3" rows="2"> </textarea></span>  &nbsp;
<span (click)="setColour(36)"><textarea disabled style="resize: none;   background-color: lightgray; " id="36"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(37)"><textarea disabled style="resize: none;   background-color: lightgray; " id="37"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(38)"><textarea disabled style="resize: none;   background-color: lightgray; " id="38"    cols="3" rows="2"> </textarea></span>  
<br>
<span (click)="setColour(12)"><textarea disabled style="resize: none;   background-color: lightgray; " id="12"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(13)"><textarea disabled style="resize: none;   background-color: green; " id="13"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(14)"><textarea disabled style="resize: none;   background-color: lightgray; " id="14"    cols="3" rows="2"> </textarea></span>   &nbsp;
<span (click)="setColour(21)"><textarea disabled style="resize: none;   background-color: lightgray; " id="21"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(22)"><textarea disabled style="resize: none;   background-color: red; " id="22"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(23)"><textarea disabled style="resize: none;   background-color: lightgray; " id="23"    cols="3" rows="2"> </textarea></span>   &nbsp; &nbsp;
<span (click)="setColour(30)"><textarea disabled style="resize: none;   background-color: lightgray; " id="30"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(31)"><textarea disabled style="resize: none;   background-color: blue; " id="31"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(32)"><textarea disabled style="resize: none;   background-color: lightgray; " id="32"    cols="3" rows="2"> </textarea></span>   &nbsp;
<span (click)="setColour(39)"><textarea disabled style="resize: none;   background-color: lightgray; " id="39"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(40)"><textarea disabled style="resize: none;   background-color: orange; " id="40"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(41)"><textarea disabled style="resize: none;   background-color: lightgray; " id="41"    cols="3" rows="2"> </textarea></span>  
<br>
<span (click)="setColour(15)"><textarea disabled style="resize: none;   background-color: lightgray; " id="15"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(16)"><textarea disabled style="resize: none;   background-color: lightgray; " id="16"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(17)"><textarea disabled style="resize: none;   background-color: lightgray; " id="17"    cols="3" rows="2"> </textarea></span>   &nbsp;
<span (click)="setColour(24)"><textarea disabled style="resize: none;   background-color: lightgray; " id="24"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(25)"><textarea disabled style="resize: none;   background-color: lightgray; " id="25"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(26)"><textarea disabled style="resize: none;   background-color: lightgray; " id="26"    cols="3" rows="2"> </textarea></span>   &nbsp; &nbsp;
<span (click)="setColour(33)"><textarea disabled style="resize: none;   background-color: lightgray; " id="33"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(34)"><textarea disabled style="resize: none;   background-color: lightgray; " id="34"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(35)"><textarea disabled style="resize: none;   background-color: lightgray; " id="35"    cols="3" rows="2"> </textarea></span>   &nbsp;
<span (click)="setColour(42)"><textarea disabled style="resize: none;   background-color: lightgray; " id="42"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(43)"><textarea disabled style="resize: none;   background-color: lightgray; " id="43"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(44)"><textarea disabled style="resize: none;   background-color: lightgray; " id="44"    cols="3" rows="2"> </textarea></span>  
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(45)"><textarea disabled style="resize: none;   background-color: lightgray; " id="45"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(46)"><textarea disabled style="resize: none;   background-color: lightgray; " id="46"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(47)"><textarea disabled style="resize: none;   background-color: lightgray; " id="47"    cols="3" rows="2"> </textarea></span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(48)"><textarea disabled style="resize: none;   background-color: lightgray; " id="48"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(49)"><textarea disabled style="resize: none;   background-color: yellow; " id="49"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(50)"><textarea disabled style="resize: none;   background-color: lightgray; " id="50"    cols="3" rows="2"> </textarea></span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span (click)="setColour(51)"><textarea disabled style="resize: none;   background-color: lightgray; " id="51"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(52)"><textarea disabled style="resize: none;   background-color: lightgray; " id="52"    cols="3" rows="2"> </textarea></span> 
<span (click)="setColour(53)"><textarea disabled style="resize: none;   background-color: lightgray; " id="53"    cols="3" rows="2"> </textarea></span> 
<div style="float: right; margin-right: 20%; margin-top: -20%">
  <figure>
      <img src="https://i.ibb.co/KrXXJdK/rubik-flat.png" style="height: 200px; width: 280px" alt="">
      <figcaption>Enter the colours following this orientation</figcaption>
  </figure>
  
  </div>
</div>

</div>
<br>
<div style="margin-left: 40%" >
  <select (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}" class="customSelect" >
  <option disabled selected value style="color: white">Select a Colour </option>
  <option *ngFor="let color of colors" [value]="color.value"   [ngStyle]="{'background-color': color.value}">{{color.name}}</option>
</select> 
<select *ngIf = 'false' (change)="onTechnique($event.target.value)"  class="customSelect" style="margin-left: 5%; background-color: #FEC8D8">
    <option disabled selected value style="color: white">Select The Technique </option>
    <option *ngFor="let algorithm of algorithms" [value]="algorithm.value" >{{algorithm.name}}</option>
  </select> 
<button [disabled] = 'colourEntered' class="button" (click)="resetColours()" style="margin-left: 5%; background-color: #d2e603; cursor: pointer;  padding: 5px"> Reset </button>
<button [disabled] = 'missingColours' class="button" (click)="solveCube()" style="margin-left: 5%; background-color: #afe4ee; cursor: pointer;  padding: 5px"> Solve </button>
</div>
<div class="footer">
    <span class="copyright">Copyright © 2020 , Tejas Jaggi</span>
  </div>
  
</body>
</html>

